[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
port=3306
socket=/var/run/mysqld/mysqld.sock
key_buffer_size=16M
max_allowed_packet=128M
explicit_defaults_for_timestamp = 1
skip-name-resolve